html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/

.header {
	padding-left: 2em;
	padding-bottom: -1em;
	padding-top: 0.00125em;
	width: 100%;
	display: inline-block;
	z-index: 9999;

}

.branding {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.slogan {
	color: #AAAFBD;
	font-size: 1.5em;
	padding-left: 1.5em;
	margin-top: 0.5em;
	font-style: italic;
	font-family: "Raleway", sans-serif;

}

.log-in {
	margin: 8em 2em 8em 2em;
	padding: 1.5em 1em 1.5em 1em;
	border: 2px solid white;
}

.log-in li {
	display: inline-block;
	margin: 1.5em;
}

.log-button {
	font-size: 1em;
	padding: 0.5em 1em 0.5em 1em;
	border-radius: 5%;
	color: #416EF2;
	background-color: transparent;
	text-transform: uppercase;
	border-color: #416EF2;
	border-style: solid;
}

.log-button:hover {
	color: #000000;
	background-color: #416EF2;

}

.icon-styles {
	
	margin: 8em 2em 8em 2em;
	padding: 1.5em 1em 1.5em 1em;
	border: 2px solid white;
	color: #416EF2;
}

.icon-styles li {
	
	color: #416EF2;
	display: inline-block;
}

.fa:hover {
	cursor: pointer;
	color: #000000;
	background-color: #416EF2;
}

.fa {
	text-rendering: auto;
	padding: .2em;
	border: .1em solid #416EF2;
	margin: .5em;
	min-width: 74px; 
	text-align: center;
}

.dashbord-concepts	{
	margin: 8em 2em 8em 2em;
	padding: 1.5em 1em 1.5em 1em;
	border: 2px solid white;
	color: #416EF2;
}

body {
	background-color: #000000;
}

h1 {
	font-size: 3em;
	color: #416EF2;
	text-shadow: 0 0 0.5em #7a99f5;

}

h3 {
	color: #AAAFBD;
	margin-left: 1em;
	font-size: 2em;
	font-family: "Raleway", sans-serif;;
}

label {
	color: #AAAFBD;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.5em;
	font-weight: lighter;
}

input {
	background-color: transparent;
	color: #416EF2;
	font-family: "Raleway", sans-serif;
	font-size: 1.5em;
	border-radius: 5%;
	border-color: #AAAFBD;
	border-style: solid;
}

.i-container ul{
	text-align: center;
}

.i-container ul li {
	display: inline;
}

::selection {
  background: #D3D3D3; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #D3D3D3; /* Gecko Browsers */
}
